body,
html {
    padding: 0;
    margin: 0
}

body {
    height: 100vh
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.book-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    flex: 1
}

.book-container>* {
    padding: 2rem;
}

.book-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
}

.book-input>* {
    display: flex;
    gap: 1rem
}

.book-input>button {
    margin: 0 auto;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 118, 198);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.book-area {
    overflow: auto;
    background-color: bisque;
    justify-content: start;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: clamp(200px, 25%, 300px)
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: linear-gradient(rgba(165, 42, 42, 0.5), rgba(0, 0, 0, 0.2));
}

.book-title {
    text-shadow: 1px 2px 1px white;
}

.book-name {
    font-weight: 600;
    font-size: 1.5rem;
}

.book-author {
    font-style: italic;
}

.book-author::before {
    content: "- \""
}

.book-author::after {
    content: "\""
}

.book-id {
    text-align: right;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: brown;
    color: white
}

.footer p {
    margin: 0
}